<!--редактирование/создание задачи-->
<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()"
    >
    <button
      *ngIf="tmpTitle && tmpTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle=''" class="dialog-task-tilte"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <!--  выпадающий список категорий-->
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--  выпадающий список приоритета-->
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{priority.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput placeholder="Укажите срок выполнения" #inputDate
      readonly="true"
      [matDatepicker]="picker"
      [(ngModel)] = "tmpDate"
      (click)="picker.open()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <!--иконка календаря (для открытия календаря)-->
    <mat-datepicker #picker></mat-datepicker> <!--компонент календаря (открывается по нажатию-->

      <!-- кнопка очистки даты-->
    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpDate = null" class="dialog-task-title">
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>

</mat-dialog-content>

<!--кнопки возможных дествий-->
<mat-dialog-actions>

  <div [ngClass]="{'text-center': isMobile, 'no-padding': isMobile, 'text-left': !isMobile}" class="col-md-5 col-12">
    <button
      mat-raised-button color="primary"
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"
    >Сохранить</button>

    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>


  <div class="col-md-7 col-12"
       [ngClass]="{'text-center': isMobile, 'text-right': !isMobile}"
  >
    <button mat-button *ngIf="task.completed"
            (click)="toogleCompleted('false')"
            class="green"
    >Активировать</button>

    <div *ngIf="operType">
      <button mat-button *ngIf="!task.completed"
              (click)="toogleCompleted('true')"
              class="green"
              [class.no-padding]="isMobile"
      >Завершить задачу</button>
      <button
        mat-button
        class="red"
        [class.no-padding]="isMobile"
        (click)="delete()"
      >Удалить задачу</button>
    </div>

  </div>


</mat-dialog-actions>
